<div class="container-fluid">
    <div class="main-container">
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <h1> Zgadnij liczbę !</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="description">
                        Gra polega na odgadnięciu liczby o której pomyśli komputer. Do wyboru są <b>3 poziomy
                            trudności</b>. W
                        <b>pierwszym</b> odgadujemy liczbę z zakresu <b>1-10</b>, w <b>drugim z 1-50</b>, a w <b>trzecim
                            1-100</b>.
                        Rozpocznij grę i przekonaj się czy potrafisz szybko odgadnąć szukaną liczbę.
                        <b>Powodzenia ! ;)</b>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-12">
                    <i class="fas fa-question"></i>
                </div>
                <div class="col-md-8 col-12">
                    <div class="row">
                        <div class="col-md-12">
                           <button class="choose-level"(click)="startGame(1)">Poziom 1</button> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="choose-level" (click)="startGame(2)">Poziom 2</button> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="choose-level" (click)="startGame(3)">Poziom 3</button> 
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-12">
                    <i class="fas fa-question two"></i>
                </div>
            </div>
        </div>
    </div>
</div>  