<div class="container-fluid">
    <div class="main-container">
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <h1> Zgadnij liczbę !</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5 class="level">{{level}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="description">
                        Zgadnij liczbę z przedziału: <b>{{range}}</b> !
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <input class="form-control number" type="text" placeholder="Wpisz liczbę"  [(ngModel)]="randomnumber">
                </div>
                <div class="col-md-4">
                    <button class="check" (click)="send()">Sprawdź</button>
                </div>
            </div>
        </div>
    </div>
</div>